client/bin/*
!client/bin/shaders
!client/bin/textures
!client/bin/models
!client/bin/settings.json
!client/bin/configs
client/build/
client/libs/
client/include/
client/src/bruteforcer/
.vscode/
__pycache__/

